<div style="background-color: white; padding: 50px 10px; border-radius: 10px; margin: 10px 0; border : 1px solid #ccc" *ngFor="let work of works">
    <div class="font-18 u-bold ">{{work.company_position}}</div>
    <div class="font-14">{{work.enterprise}}</div>
    <div class="font-12 color-light-gray"> {{work.date}}</div>
    <div class="font-12 color-light-gray float-r">{{work.city}}</div>
    <div class="mg-y-30">
        <div class="font-16 pdd-bottom-15 ">
            {{work.background}}
        </div>
    </div>
</div>