.font {
  &-12 {
    font-size: $size12;
  }

  &-14 {
    font-size: $size14;
  }

  &-16 {
    font-size: $size16;
  }

  &-18 {
    font-size: $size18;
  }

  &-20 {
    font-size: $size20;
  }

  &-24 {
    font-size: $size24;
  }

  &-30 {
    font-size: $size30;
  }

  &-70 {
    font-size: $size70;
  }
}

.align-contet-items-center {
  display: flex;
  align-content: center;
  align-items: center
}

.align-items-center {
  display: flex;
  align-items: center;
}

.color {
  &-green-ovni {
    color: $greenOvni;
  }
}

.float {
  &-r {
    float: right;
  }
}

//TEXT
.text-align {
  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }
}

//UTILITIES TEXT
.u-uppercase {
  text-transform: uppercase;
}

.u-underline {
  text-decoration: underline;
}

.u-regular {
  font-weight: 400;
}

.u-medium {
  font-weight: 500;
}

.u-bold {
  font-weight: bold;
}

.u-pointer {
  cursor: pointer;
}

.justify-content-center {
  display: flex;
  justify-content: center;
}

.d-block {
  display: block;
}

.w-100 {
  width: 100%;
}

//MARGIN
@for $i from 0 through 10 {
  .mg-#{ $i * 5} {
    margin: $i * 0.5rem;
  }
}

@for $i from 0 through 30 {
  .mg-top-#{ $i * 5} {
    margin-top: $i * 0.5rem;
  }
}

@for $i from 0 through 10 {
  .mg-bottom-#{ $i * 5} {
    margin-bottom: $i * 0.5rem;
  }
}

@for $i from 0 through 10 {
  .mg-right-#{ $i * 5} {
    margin-right: $i * 0.5rem;
  }
}

@for $i from 0 through 10 {
  .mg-left-#{ $i * 5} {
    margin-left: $i * 0.5rem;
  }
}

@for $i from 0 through 10 {
  .mg-x-#{ $i * 5} {
    margin-right: $i * 0.5rem;
    margin-left: $i * 0.5rem;
  }
}

@for $i from 0 through 30 {
  .mg-y-#{ $i * 5} {
    margin-top: $i * 0.5rem;
    margin-bottom: $i * 0.5rem;
  }
}

//PADDING
@for $i from 0 through 10 {
  .pdd-#{ $i * 5} {
    padding: $i * 0.5rem !important;
  }
}

@for $i from 0 through 50 {
  .pdd-top-#{ $i * 5} {
    padding-top: $i * 0.5rem;
  }
}

@for $i from 0 through 100 {
  .pdd-bottom-#{ $i * 5} {
    padding-bottom: $i * 0.5rem;
  }
}

@for $i from 0 through 10 {
  .pdd-right-#{ $i * 5} {
    padding-right: $i * 0.5rem;
  }
}

@for $i from 0 through 100 {
  .pdd-left-#{ $i * 5} {
    padding-left: $i * 0.5rem;
  }
}

@for $i from 0 through 100 {
  .pdd-x-#{ $i * 5} {
    padding-right: $i * 0.5rem !important;
    padding-left: $i * 0.5rem !important;
  }
}

@for $i from 0 through 100 {
  .pdd-y-#{ $i * 5} {
    padding-top: $i * 0.5rem;
    padding-bottom: $i * 0.5rem;
  }
}

//HIDE
.hide {
  display: none;

  //Max
  @include mq-max(xs-large) {
    &-down--lg {
      display: none;
    }
  }

  @include mq-max(large) {
    &-down--md {
      display: none;
    }
  }

  @include mq-max(medium) {
    &-down--sm {
      display: none;
    }
  }

  @include mq-max(small) {
    &-down--xs {
      display: none;
    }
  }

  @include mq-max(xs-small) {
    &-down {
      display: none;
    }
  }

  @include mq-min(xs-small) {
    &-up {
      display: none;
    }
  }

  @include mq-min(small) {
    &-up--xs {
      display: none;
    }
  }

  @include mq-min(medium) {
    &-up--sm {
      display: none;
    }
  }

  @include mq-min(large) {
    &-up--md {
      display: none;
    }
  }

  @include mq-min(xs-large) {
    &-up--lg {
      display: none;
    }
  }
}

.btn {
  background-color: #81C163;
  padding: 15px 20px;
  margin: 20px 0;
  border-radius: 5px;
  color: #121f3d;
  font-weight: bold;
}