
.skills-grid{
    display: grid;
    text-align: center;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 2rem; /* Will be used instead by browsers that do not support `row-gap` */
    row-gap: 2rem; /* Used by browsers that support `row-gap` */
    &__starts{
      flex-direction: row;
    }
  }

  @include mq-max(xs-small) {
     .skills-grid{
        grid-template-columns: repeat(2, 1fr);
    }
  }