//FONT SIZE
$size12: 1.2rem;
$size14: 1.4rem;
$size16: 1.6rem;
$size18: 1.8rem;
$size20: 2rem;
$size24: 2.4rem;
$size25: 2.5rem;
$size30: 3rem;
$size40: 4rem;
$size50: 5rem;
$size70: 7rem;

//color
$greenOvni : #81C163;
$mainBlue: #121f3d;
$secondBlue: #1b202c;
$white: #ffffff;
$gray: #2a324b;
$yellow : #FFFF00;