@import '../../../../../assets/scss/vars';

.skill {
    border-radius: 50%;
    border: 3px solid $greenOvni;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // -webkit-box-shadow: 0px 0px 15px 0px black;
    // box-shadow: 0px 0px 15px 0px black;

    &--home {
        width: 250px;
        height: 250px;
        font-size: 2rem;
        margin: 2rem;
    }

    &--main-page {
        width: 15rem;
        height: 15rem;
        margin: 1rem;
    }
}

.skill:hover{
    position: relative;
    top: -1rem;
    cursor: pointer;
    z-index: 1;
}