.post-detail {
    &__title {
        color: #81c163;
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__brief{
        font-size: 1.2rem; line-height: 2rem;
    }
    &__descriotion{
        padding: 1rem 0;
    }
}