<div class="post-detail">
    <span class="post-detail__title"> {{post?.title}}</span>
    <p class="post-detail__brief">{{post?.brief}}</p>
    <div class="mg-y-10">
        <app-slider  [files]="post?.files"></app-slider>
    </div>
    <p class="post-detail__description">{{post?.description}}</p>
    <ul class="pdd-left-20">
        <li *ngFor="let tag of post.tags">{{tag}}</li>
    </ul>
</div>

<!-- <app-slider [files]="article?.photo"></app-slider>
<video *ngIf="post.video" width="100%" autoplay controls>
    <source [src]="post.video" type="video/mp4">
</video>
<div class="title-container">
    <span class="title-container__title">{{ "ABOUT_THIS_PROJECT" | translate}}</span>
</div>
<p>{{post?.description}}</p>
<div class="title-container">
    <span class="title-container__title ">{{ "TECHNOLOGIES" | translate}}</span>
</div>
<ul class="pdd-left-20">
    <li *ngFor="let tag of post.tags">{{tag}}</li>
</ul> -->