@import '../../../../../assets/scss/vars',
'../../../../../assets/scss/var-mixins';

.project {
    padding: 10px;
    border-radius: 1.2rem;
    margin: 20px 20px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    // -webkit-box-shadow: 0px 0px 15px 0px #000000;
    // box-shadow: 0px 0px 15px 0px #000000;
    border: 1px solid $gray;
    img {
        height: 10rem;
        width: 15rem;
    }
}

.project:hover {
    background-color: $greenOvni;
    color: $mainBlue;
    font-weight: bold;
    cursor: pointer;
    top: -10px;
    position: relative;
    z-index: 1;
}

.btn:hover{
    text-decoration: underline;
}