<form class="contact-form">
    <label>Nombre
        <span>*</span>
    </label>
    <input type="text" name="name" id="name">
    <label>Email
        <span>*</span>
    </label>
    <input type="email" name="email" id="email">

    <label>Teléfono</label>
    <input type="tel" name="tel" id="tel">

    <label>Sitio web
    </label>
    <input type="url" name="website" id="website">

    <label>Asunto
        <span>*</span>
    </label>
    <input type="text" id="subject ">

    <label>Mensaje
        <span>*</span>
    </label>
    <textarea name="message" id="message" style="resize: none;"></textarea>
    <button type="submit">
        <p>Enviar</p>
    </button>
</form>