@import '../../../../assets/scss/vars';

.article-container {
    line-height: 1.65em;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: $size20;
}

.title-container {
    background-color: $secondBlue;
    position: relative;
    border: 0.1rem solid $gray;
    border-radius: 1.5rem;
    padding: 1rem;
    display: flex;
    justify-content: center;

    &__title {
        color: $greenOvni;
        font-size: $size20;
        font-weight: bold;
        text-transform: uppercase;
    }
}

carousel {
    z-index: 0;
}