/* You can add global styles to this file, and also import other style files */
@import 
"assets/scss/var-mixins",
"assets/scss/vars",
"assets/scss/general",
"assets/scss/projectCard",
"assets/scss/skills",
"assets/scss/breadcrumb",
"assets/scss/contactForm";

@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

@font-face {
    font-family: roboto-regular;
    src: url(assets/fonts/Roboto/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: roboto-regular;
}

body {
    background-color: $mainBlue;
    color: $white;
}

html {
    font-size: 10px !important;
}