<div *ngIf="post" class=" mg-y-10 font-16">
    <div>
        <span class="color-green-ovni font-24 u-bold">{{post.title}}</span>
    </div>
    <div class="mg-y-20">
        <span>{{post.brief}}</span>
    </div>
    <div class="mg-y-15" style="border: 1px solid #ccc; ">
        <app-slider [items]="carouselData"></app-slider>
    </div>
    <div>
        <div style="border-bottom: 1px solid; padding: 5px 0; ">
            <span class="u-bold">ABOUT THIS PROJECT</span>
        </div>
        <p class="mg-y-10" style="line-height: 1.65em;">{{post.description}}</p>
    </div>
    <div>
        <div style="border-bottom: 1px solid; padding: 5px 0;">
            <span class="u-bold">TECHNICAL SHEET</span>
            <p class="font-12 mg-y-5">Code technologies I got involved with while working on this project</p>
        </div>
        <div class="mg-y-10">
            <ul class="pdd-left-20">
                <li class="mg-y-10" *ngFor="let tag of post.tags">{{tag}}</li>
            </ul>
        </div>
    </div>
    <div>
        <div style="border-bottom: 1px solid; padding: 5px 0;">
            <span class="u-bold">Resources</span>
        </div>
        <p>Code technologies I got involved with while working on this project</p>
    </div>
</div>