<nav class="nav">
    <input type="checkbox" name="" id="nav__checkbox" class="nav__checkbox" />
    <label for="nav__checkbox" class="nav__toggle">
        <!-- Menu -->
        <img class="menu" src="assets/icon/menu.svg" />
        <!-- Close -->
        <img class="close" src="assets/icon/cancelar.svg" />
    </label>

    <ul class="nav__menu ">
        <li class="menu__logo u-pointer " [routerLink]="'/landing-page/home'">
            <img class="close" src="assets/icon/marciano.svg" />
            SEBASTIANCHAVEZ
        </li>
        <li><a routerLinkActive="active-link"  [routerLink]="'/landing-page/skill'">Habilidades</a></li>
        <li><a routerLinkActive="active-link" [routerLink]="'/landing-page/projects'">Portafolio</a></li>
    </ul>
</nav>