@import "../../../../../assets/scss/var-mixins",
"../../../../../assets/scss/vars";


.container-presentation {
    &__title {
        font-size: $size50;
        font-weight: bold;
    }

    &__brief {
        font-size: $size25;
    }

    &__description {
        font-size: $size20;
    }

    &__download--button {
        a {
            color: $secondBlue;
            text-decoration: none;
        }
    }

}



.section {
    border-top: 0.1rem solid #2a324b !important;
    padding: 5rem 0;
}



@include mq-max(medium) {
    .container-presentation {
        &__title {
            font-size: $size25;
        }

        &__brief {
            font-size: $size20;
        }

        &__description {
            font-size: $size25;
        }

        &__download--button {
            width: 100%;
            justify-content: center;
        }
    }
}