@import "../../../../../assets/scss/var-mixins",
"../../../../../assets/scss/vars";


.container-presentation {
    &__title {
        font-size: $size70;
        font-weight: bold;
    }

    &__brief {
        font-size: $size30;
    }

    &__description {
        font-size: $size30;
    }

    &__download--button {
        a {
            color: $secondBlue;
            text-decoration: none;
        }
    }

}



.section {
    border-top: 0.1rem solid #2a324b !important;
    padding: 5rem 0;
}

.container-subtitle-card {
    display: flex;
    justify-content: center;
    position: relative;
    top: -7.5rem;

    &__subtitle-card {
        border: 0.1rem solid $gray;
        border-radius: 1.5rem;
        padding: 1rem;
        background-color: $secondBlue;
        display: flex;
        align-items: center;
        color: $greenOvni;
        cursor: pointer;
    }
}

@include mq-max(medium) {
    .container-presentation {
        &__title {
            font-size: $size25;
        }

        &__brief {
            font-size: $size20;
        }

        &__description {
            font-size: $size25;
        }

        &__download--button {
            width: 100%;
            justify-content: center;
        }
    }
}