<div class="container-fluid">
    <div class="row justify-content-center">
        <div
         class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pdd-y-50">
            <h1 class="mg-bottom-15 color-green-ovni">Hola. Un placer conocerte</h1>
            <span class="font-16" >
                Soy ingeniero de sistemas con mas de 3 años de experiencia en el desarrollo de software utilizando
                tecnologías
                basadas en Javascript ( NODEJS, ANGULAR, REACT y VUE ) ademas cuento con habilidades en el diseño y
                maquetado de
                sitios web ( FIGMA, ADOBE XD, CSS, FLEXBOX, LAYOUT GRID, SASS , LESS y BOOTSTRAP ).
                Ayudo en la formación de nuevos desarrolladores WEB , guiando y dando herramientas que permitan el
                desarrollo de
                su primer proyecto.
                Soy ingeniero de sistemas con mas de 3 años de experiencia en el desarrollo de software utilizando
                tecnologías
                basadas en Javascript ( NODEJS, ANGULAR, REACT y VUE ) ademas cuento con habilidades en el diseño y
                maquetado de
                sitios web ( FIGMA, ADOBE XD, CSS, FLEXBOX, LAYOUT GRID, SASS , LESS y BOOTSTRAP ).
                Ayudo en la formación de nuevos desarrolladores WEB , guiando y dando herramientas que permitan el
                desarrollo de
                su primer proyecto.
                Soy ingeniero de sistemas con mas de 3 años de experiencia en el desarrollo de software utilizando
                tecnologías
                basadas en Javascript ( NODEJS, ANGULAR, REACT y VUE ) ademas cuento con habilidades en el diseño y
                maquetado de
                sitios web ( FIGMA, ADOBE XD, CSS, FLEXBOX, LAYOUT GRID, SASS , LESS y BOOTSTRAP ).
                Ayudo en la formación de nuevos desarrolladores WEB , guiando y dando herramientas que permitan el
                desarrollo de
                su primer proyecto.
            </span>
        </div>
        <div  style="background-image: url('assets/img/fotomenu.svg'); 
        background-position: center;
        background-size: cover ;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pdd-y-50">
            
        </div>
    </div>
</div>